.search-page {
    width: 900px; /* 또는 1000px 정도 */
    margin: 0 auto;
    padding: 20px;
}

.search-bar {
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
}

.tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.tag {
    background-color: #f0f0f0;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 14px;
}

.recent-keywords{
    margin-top: 15px;
}

.popular-keywords{
    margin-top: 30px;
}

.post-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.post-table th,
.post-table td {
    border-bottom: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

/* 정렬 옵션 */
.sort-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 16px;
    gap: 8px;
}

.sort-box label {
    font-size: 14px;
    color: #444;
}

.sort-box select {
    padding: 6px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
}